.indicator-caution {
	background-color: rgba(183, 183, 183, 0.3);
	border-radius: 1em;
}

.resource-title {
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.resource-title-label {
	font-weight: bold;
    margin-left: 1em;
}

.bytes-text {
    min-width: 4.3em;
    text-align: right;
    padding-left: 1em;
}

.interface-icon {
    padding-left: 0.5em;
}

.meter-area-container {
    background-color: inherit;
}

.item-label {
    max-width: 16em;
}
