.indicator-caution
{
	background-color: rgba(160, 160, 160, 0.7);
	border-radius: 1em;
}

.resource-title
{
	font-weight: bold;
}

.right-label
{
	min-width: 3em;
	text-align: right;
}

.item-label
{
	max-width: 12em;
}
